<side-text [left]="'MUSIC VIDEO'" ></side-text>
<div class="container">
  <div class="video-container">
    <iframe class="youtube-embed" src="https://www.youtube.com/embed/HZWgBseLPeY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <span>TheColorGrey - Swerve</span>
  </div>
  <div class="video-container">
    <iframe class="youtube-embed" src="https://www.youtube.com/embed/x3FFuHZ3JCw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <span>Surafeal - Ulysse</span>
  </div>
</div>
