<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center m-3" id="navbarSupportedContent">
    <div class="col">
      <div class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <h4 class="dropbtn">
          MVP STYLING
        </h4>
        <div class="dropdown-content">
          <a [routerLink]="['/mvp-styling/video']">Video</a>
          <a [routerLink]="['/mvp-styling/editorial']">Editorial</a>
          <a [routerLink]="['/mvp-styling/published']">Published</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <h4 class="dropbtn">
          FASHION BRANDING
        </h4>
        <div class="dropdown-content">
          <a [routerLink]="['/fashion-branding/concept-identity']">Concept & Identity</a>
          <a href="#">Video</a>
          <a href="#">Strategy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <h4 class="dropbtn">
          SPECIAL PROJECTS
        </h4>
        <div class="dropdown-content">
          <a href="#">Belmodo x Alter Domus</a>
          <a href="#">Visual Culture +</a>
          <a href="#">Triptych Fashion Show</a>
          <a href="#">Inspiration Book</a>
        </div>
      </div>
    </div>
    <div class="col">
      <h4 class="header-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/home']">
          ABOUT
        </a>
      </h4>
    </div>
  </div>
</nav>
