<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center m-4" id="navbarSupportedContent">
    <div class="col">
      <h4>
        MVP STYLING
      </h4>
    </div>
    <div class="col">
      <h4>
        FASHION BRANDING
      </h4>
    </div>
    <div class="col">
      <h4>
        SPECIAL PROJECTS
      </h4>
    </div>
    <div class="col">
      <h4>
        ABOUT
      </h4>
    </div>
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul> -->
  </div>
</nav>
