<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center m-3" id="navbarSupportedContent">
    <div class="col">
      <div class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <h4 class="dropbtn">
          MVP STYLING
        </h4>
        <div class="dropdown-content">
          <a [routerLink]="['/mvp-styling/artists']">Artists</a>
          <a [routerLink]="['/mvp-styling/video']">Video</a>
          <a [routerLink]="['/mvp-styling/editorial']">Editorial</a>
          <a [routerLink]="['/mvp-styling/published']">Published</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <h4 class="dropbtn">
          FASHION BRANDING
        </h4>
        <div class="dropdown-content">
          <a [routerLink]="['/fashion-branding/concept-identity']">Concept & Identity</a>
          <a [routerLink]="['/fashion-branding/video']">Video</a>
          <a [routerLink]="['/fashion-branding/strategy']">Strategy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <h4 class="dropbtn">
          SPECIAL PROJECTS
        </h4>
        <div class="dropdown-content">
          <a [routerLink]="['/special-projects/belmodo']">Belmodo</a>
          <a [routerLink]="['/special-projects/visual-culture']">Visual Culture</a>
          <a [routerLink]="['/special-projects/amfi-fashion-show']">AMFI Fashion Show</a>
        </div>
      </div>
    </div>
    <div class="col">
      <h4 class="header-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/about']">
          ABOUT
        </a>
      </h4>
    </div>
  </div>
</nav>
