.side-text-left {
  position: fixed;
  top: 40%;
  left: 1%;
  z-index: 100;
  font-size: 2em;
  writing-mode: vertical-rl;
  text-align: center;
  transform:rotate(180deg);
}

.side-text-right {
  position: fixed;
  top: 50%;
  right: 1%;
  z-index: 100;
  text-align: center;
  font-family: 'Britannic-BoldRegular' !important;
  font-size: 4em;
  margin-right: -100px;
}

.vertical-right {
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
}
