<side-text [left]="'ARTISTS'" ></side-text>
<div class="container h-100 text-center">
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a [routerLink]="['/mvp-styling/artists/thecolorgrey']">
        <img src="/assets/images/artists/mvpstyling-TheColorGrey-hoofdfoto.jpg" class="img-fluid"/>
        <h4>TheColorGrey</h4>
      </a>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a [routerLink]="['/mvp-styling/artists/thecolorgrey']">
        <img src="/assets/images/editorial/mvpstyling-Guardian-hoofdfoto.jpg" class="img-fluid"/>
        <h4>Gaida</h4>
      </a>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a [routerLink]="['/mvp-styling/artists/thecolorgrey']">
        <img src="/assets/images/editorial/mvpstyling-Guardian-hoofdfoto.jpg" class="img-fluid"/>
        <h4>Patches</h4>
      </a>
    </div>
  </div>
</div>
