<side-text [left]="'EDITORIAL'" ></side-text>
<div class="container h-100 text-center">
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/guardian/mvpstyling-Guardian-1.jpg" class="img-fluid"/>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/guardian/mvpstyling-Guardian-2.jpg" class="img-fluid"/>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/guardian/mvpstyling-Guardian-3.jpg" class="img-fluid"/>
    </div>
  </div>
</div>
