<side-text [left]="'TheColorGrey'" ></side-text>
<div class="container h-100 text-center">
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-1-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-2-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-3-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-4-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-5-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-6-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-7-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-8-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-9-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-10-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-11-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-12-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-13-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-14-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-15-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-16-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-17-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-18-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-19-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-20-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-21-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-22-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-23-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-24-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-25-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-26-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-27-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-28-min.JPG" class="img-fluid"/>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/artists/thecolorgrey/mvpstyling-TheColorGrey-29-min.JPG" class="img-fluid"/>
    </div>
  </div>
</div>
