<side-text [left]="'EDITORIAL'" ></side-text>
<div class="container h-100 text-center">
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/twoofakind/twoofakind-mvpstorytellingstyling-a.jpg" class="img-fluid"/>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img src="/assets/images/editorial/twoofakind/twoofakind-mvpstorytellingstyling-b.jpg" class="img-fluid"/>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img src="/assets/images/editorial/twoofakind/twoofakind-mvpstorytellingstyling-c.jpg" class="img-fluid"/>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/twoofakind/twoofakind-mvpstorytellingstyling-d.jpg" class="img-fluid"/>
    </div>
  </div>
</div>
