<side-text [left]="'EDITORIAL'" ></side-text>
<div class="container h-100 text-center">
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/enrose/mvpstyling-22-3enrose-1-min.jpg" class="img-fluid"/>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/enrose/mvpstyling-22-3enrose-2-min.jpg" class="img-fluid"/>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/enrose/mvpstyling-22-3enrose-3-min.jpg" class="img-fluid"/>
    </div>
  </div>
  <div class="row imagetiles h-100">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img src="/assets/images/editorial/enrose/mvpstyling-22-3enrose-4-min.jpg" class="img-fluid"/>
    </div>
  </div>
</div>
