.mvp-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
}

.main {
  font-family: 'Britannic-BoldRegular' !important;
  font-size: 13.750em;
  font-weight: bold;
}

.second {
  margin-top: -50px !important;
}
